<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6 col-12">
    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-4 col-6 people-container">
        <video width="256" height="256" controls>
          <source src="static/video/model_gamev2_fine_tune_m4_jump_penalty_seed_607_level_0560_video_frames_0187_to_0282.mp4" type="video/mp4">
        </video>
        <p>Mugen runs from left to right and it collects coins and it jump over snail and it jump down and it collects coins.</p>
    </div> 
    </div>
  </div> 
</div> 