<nav id="navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-12">
          <img id="banner" src="static/img/banner.png" width ="100%" alt="Banner Image"/>
          <div id="site-title-container">
            <span id="site-title">MUGEN</span>
            <br>
            <span id="site-subtitle">A Playground for Video-Audio-Text Multimodal Understanding and GENeration</span>
          </div>
          <div id="navbar-ul-container">
            <ul id="navbar-ul">
              <li class="nav-listitem">
                <a href="/">Overview</a>
              </li>
              <li class="nav-listitem">
                <a href="/data", target="_blank">Data</a>
              </li>
              <li class="nav-listitem">
                <a href="/download", target="_blank">Download</a>
              </li>
              <li class="nav-listitem">
                <a href="/paper", target="_blank">Paper</a>
              </li>
              <li class="nav-listitem">
                <a href="/github" target="_blank">Code</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr id="navbar-border">
    </div>
  </nav>